.button {
	align-items: center;
	background: var(--grey10);
	box-shadow: 0.2275rem 0.2275rem 0.2875rem var(--grey20),
		-0.2275rem -0.2275rem 0.2875rem var(--white);
	border: none;
	border-radius: 1.7063rem;
	color: var(--dark-blue);
	cursor: pointer;
	display: flex;
	font: var(--button);
	justify-content: center;
	user-select: none;
	-moz-border-radius: 1.7063rem;
	-moz-user-select: none;
	-ms-border-radius: 1.7063rem;
	-ms-user-select: none;
	-o-border-radius: 1.7063rem;
	-webkit-border-radius: 1.7063rem;
	-webkit-user-select: none;
}

.button:active {
	background: #cdd5db;
}

.is-orange {
	background: var(--orange);
	box-shadow: 0.2275rem 0.2275rem 0.2275rem #debf81,
		-0.2275rem -0.2275rem 0.2275rem #ffffff;
	color: var(--white);
}

.is-orange:active {
	background: #dd922b;
}

.is-purple {
	background: var(--purple);
	box-shadow: 0.2275rem 0.2275rem 0.2275rem #d6c9df,
		-0.2275rem -0.2275rem 0.2275rem #ffffff;
	color: var(--blue10);
}

.is-purple:active {
	background: #7f87d4;
}

.is-purple.is-active {
	background: #5563e6;
	color: var(--white);
}

.is-yellow {
	background: var(--yellow);
	box-shadow: 0.2275rem 0.2275rem 0.2275rem #e0dbce,
		-0.2275rem -0.2275rem 0.2275rem #ffffff;
}

.is-yellow:active {
	background: #e4dece;
}

.is-grey {
	background: var(--grey30);
	box-shadow: 0.2275rem 0.2275rem 0.2875rem #d4d5d7,
		-0.2275rem -0.2275rem 0.2875rem #ffffff;
}

.is-blue {
	background: var(--blue);
	color: var(--white);
	box-shadow: 0.2275rem 0.2278rem 0.2875rem #6976e9,
		-0.2275rem -0.2275rem 0.1688rem #ffffff;
}

.is-blue:active {
	background: #111c81;
}

@media screen and (min-width: 1400px) {
	[data-operation='negate'] img {
		block-size: 31px;
		inline-size: 26px;
	}

	[data-operation='delete'] img {
		block-size: 24px;
		inline-size: 24px;
	}
}
