.calculator {
	display: grid;
	grid-template-columns: repeat(4, 61.04px);
	grid-template-rows: auto repeat(5, 61.04px);
	gap: 15.49px;
	background: var(--white);
	background: linear-gradient(180deg, #fefefe 0%, #e9ecee 37.34%);
	border: 0.911111px solid rgba(0, 0, 0, 0.2);
	box-shadow: 11.8444px 11.8444px 9.11111px #e6e5e5;
	border-radius: 18.2222px;
	padding-block-start: 59.22px;
	padding-block-end: 15.49px;
	padding-inline-end: 18.68px;
	padding-inline-start: 18.68px;
}

.calculator-screen {
	grid-column: span 4;
	border: 0.6875rem solid var(--black);
	background: var(--grey);
	border-radius: 0.5625rem;
	-webkit-border-radius: 0.5625rem;
	-moz-border-radius: 0.5625rem;
	-ms-border-radius: 0.5625rem;
	-o-border-radius: 0.5625rem;
	margin-bottom: 40px;
	block-size: 79.28px;
	font: var(--normal);
	padding-inline-end: 0.875rem;
	padding-inline-start: 0.875rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: var(--grey40);
}

.calculator-screen p {
	margin: 0;
	text-align: right;
}

@media screen and (min-width: 1400px) {
	.calculator {
		grid-template-columns: repeat(4, 67px);
		grid-template-rows: auto repeat(5, 67px);
		gap: 15.49px;
	}

	.calculator-screen {
		border-width: 0.8125rem;
		border-radius: 0.625rem;
		-webkit-border-radius: 0.625rem;
		-moz-border-radius: 0.625rem;
		-ms-border-radius: 0.625rem;
		-o-border-radius: 0.625rem;
		margin-bottom: 45px;
		block-size: 87px;
		padding-inline-end: 1rem;
		padding-inline-start: 1rem;
	}
}
